doctype html
html
  head
    title Todo List
    link( rel="stylesheet" href="/stylesheets/style.css" )
    link(href='//cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    
  body
    div#app
    script( type="text/javascript" src="/js/app.bundle.js")
    script(src='//cdn.bootcss.com/superagent/1.2.0/superagent.min.js')